
<div class="layout_teaser arc_<?= $this->archive->id; ?> block<?= $this->class; ?>">

  <h2><?= $this->linkHeadline; ?></h2>

  <?php if ($this->addImage): ?>
    <div class="image_container<?= $this->floatClass; ?>"<?php if ($this->margin): ?> style="<?= $this->margin; ?>"<?php endif; ?>>

      <?php if ($this->href): ?>
        <a href="<?= $this->href; ?>"<?= $this->attributes; ?> title="<?= $this->alt; ?>">
      <?php endif; ?>

      <?php $this->insert('picture_default', $this->picture); ?>

      <?php if ($this->href): ?>
        </a>
      <?php endif; ?>

      <?php if ($this->caption): ?>
        <div class="caption"><?= $this->caption; ?></div>
      <?php endif; ?>

    </div>
  <?php endif; ?>

  <div class="teaser">
    <?= $this->teaser; ?>
  </div>

  <?php if ($this->enclosure): ?>
    <div class="enclosure">
      <?php foreach ($this->enclosure as $enclosure): ?>
        <p><img src="<?= $enclosure['icon']; ?>" width="18" height="18" alt="<?= $enclosure['mime']; ?>" class="mime_icon"> <a href="<?= $enclosure['href']; ?>" title="<?= $enclosure['title']; ?>"><?= $enclosure['link']; ?> <span class="size">(<?= $enclosure['filesize']; ?>)</span></a></p>
      <?php endforeach; ?>
    </div>
  <?php endif; ?>

  <?php if ($this->text || $this->teaser): ?>
    <p class="more"><?= $this->more; ?></p>
  <?php endif; ?>

</div>
