
<div class="layout_full block<?= $this->class; ?>">

  <h1><?= $this->productHeadline; ?></h1>

  <?php if ($this->hasSubHeadline): ?>
    <h2><?= $this->subHeadline; ?></h2>
  <?php endif; ?>

  <?php if ($this->text): ?>
    <?= $this->text; ?>
  <?php else: ?>
    <div class="ce_text block">
      <?= $this->teaser; ?>
    </div>
  <?php endif; ?>

  <?php if ($this->enclosure): ?>
    <div class="enclosure">
      <?php foreach ($this->enclosure as $enclosure): ?>
        <p><img src="<?= $enclosure['icon']; ?>" width="18" height="18" alt="<?= $enclosure['mime']; ?>" class="mime_icon" /> <a href="<?= $enclosure['href']; ?>" title="<?= $enclosure['title']; ?>"><?= $enclosure['link']; ?> <span class="size">(<?= $enclosure['filesize']; ?>)</span></a></p>
      <?php endforeach; ?>
    </div>
  <?php endif; ?>

</div>
